<?xml version="1.0" encoding="utf-8" ?>
<Config>
	<dl>DalXML</dl>
	<dl-packages>
		<DalObject namespace="Dal" class="DalObject">DalObject</DalObject>
		<DalXML namespace="Dal" class="DalXML">DalXML</DalXML>
		<oracle namespace="Dal_O" class="DalDbOracle">DalOracle</oracle>
	</dl-packages>

	<Free>2.444</Free>
	<Light>2.259</Light>
	<Middle>2.204</Middle>
	<Heavy>1.789</Heavy>
	<ChargingSpeed>2.466</ChargingSpeed>

</Config>